/* index CSS */
<head>
<body>
<style type="text/css">


html, body, div, h1, p{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font-size: 100%;
	font: arial;
}




h1 {
	
	font-family: arial, Sans-serif;
	font-size: 50px;
	font-style: normal;
	font-variant: normal;
	color: #4d4d4d;
}

p{
	
	font: cursive;
	font-size: 30px;
	font-style: normal;
	font-variant: normal;
	color: #ffccd4;
	
}
</style>
</body>
