/* index CSS */
<html>
<head>
<body>
<style type="text/css">
h1 {
	font-family: Arial, Sans-serif;
	font-size: 100px;
	font-style: normal;
	font-variant: normal;
	color: black;
}

p{
	font-family: cursive;
	font-size: 60px;
	font-style: normal;
	font-variant: normal;
	color: #ffccd4;
}
</style>
</body>
</html>